.filter__radiogroup {
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-in;
  overflow-y: auto;

  label {
    cursor: pointer;
  }
}

.radioBtn {
  margin-bottom: 10px;
}

.realRadio {
  display: none;
}

.customRadio {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  margin-right: 6px;
  border: 1px solid #333333;
  border-radius: 50%;
  vertical-align: text-bottom;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgb(143, 145, 209);
    transition: 0.26s ease-in;
  }
}

.realRadio:checked + .customRadio::before {
  transform: translate(-50%, -50%) scale(1);
}

//* React Transition Group

.radios-enter {
  opacity: 0;
  max-height: 0;
}

.radios-enter-active {
  opacity: 1;
  max-height: 260px;
  transition: opacity 0.5s, max-height 0.5s;
  overflow: hidden;
}

.radios-exit {
  opacity: 1;
  max-height: 260px;
  overflow: hidden;
}

.radios-exit-active {
  opacity: 0;
  max-height: 0;
  transition: opacity 0.5s, max-height 0.5s;
}
