.sneaker {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 280px;

  &::before {
    content: '';
    border-radius: 50%;
    background: #ffffff;
    width: 32px;
    height: 32px;
    position: absolute;
    opacity: 0.6;
    right: 8px;
    top: 8px;
  }

  @media (max-width: 436px) {
    max-width: 400px;
  }

  .sneaker__title {
    font-family: Jura;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    line-height: 1.21em;
    margin: 8px 0 6px 0;
    transition: color 0.2s ease-in;

    &:hover {
      color: rgb(143, 145, 209);
    }
  }

  .sneaker__price {
    font-family: Jura;
    font-size: 18px;
    font-weight: 500;
    color: #333333;
    line-height: 1.25em;
  }
}

.heartIcon {
  position: absolute;
  z-index: 2;
  top: 12px;
  right: 12px;
  font-size: 24px;
  color: #292929;
  cursor: pointer;
  transition: all 0.3s linear;

  &:hover {
    color: rgb(143, 145, 209);
    scale: 1.1;
  }
}
