.alert {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Jura;
  line-height: 1.5rem;
  color: #333333;
  text-align: center;

  width: max-content;
  max-width: 400px;
  padding: 4px 16px;
  margin-bottom: 16px;
  background-color: #d4edda;
  border-radius: 2px;
  box-shadow: 1px 1px 8px #33333330;

  animation-name: alert;
  animation-duration: 1s;
}

@keyframes alert {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.mobile {
  max-width: 100%;
  width: 100%;
  height: 40px;
}
