.search {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  transform: translate3d(-100%, 0, 0);
  transition: all 0.5s;
  z-index: 9999999;
}

.search.active {
  transform: translate3d(0, 0, 0);
  transition: all 0.5s;
}

.search__input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 14px;
  // border: 1px solid red;

  &::after {
    content: '';
    position: absolute;
    bottom: 0px;
    z-index: 9999999;
    height: 1px;
    width: 100%;
    border-bottom: 1px solid #dadada;
  }

  input {
    flex-grow: 1;
    padding: 10px;
    outline: none;
    font-family: Jura;
    font-size: 16px;

    :active,
    :hover,
    :focus {
      outline: 0;
      outline-offset: 0;
    }
  }

  svg {
    font-size: 22px;
    margin-left: 12px;
  }
}
