.cutlist {
  position: absolute;
  left: 0%;
  top: 100%;
  z-index: 101;
  border: 1px solid #ededed;
  box-shadow: 0px 4px 12px rgb(0 0 0 / 10%);

  .cutlist-content {
    min-width: 180px;
    max-width: 220px;
    padding: 5px 10px;
    background-color: #ffffff;

    .cutlist-item {
      transition: color 0.2s ease-in;
      cursor: pointer;

      &:visited {
        color: inherit;
      }

      &:hover {
        color: rgb(143, 145, 209);
      }
    }
  }
}
